h1::before {
    transform: scaleX(0);
    transform-origin: bottom right;
}

h1:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
}

h1::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    inset: 0 0 0 0;
    background: rgba(11, 108, 160, 0.339);
    z-index: -1;
    transition: transform .5s ease;
    border-radius: 10px;
}

h1 {
    width: 200px;
    position: relative;
    font-size: 2rem;
    padding: 10px 15px;
}

 